<footer class ="footer"
<div class="container">
    <div class="col-md-12">


<footer class="footer mt-auto py-3 bg-dark bg-body-tertiary">
  <div class="container text-center">
    <span class="text-body-secondary ">copyright@himanshu123</span>
  </div>
</footer>

    </div>
</div>