<nav class="navbar navbar-expand-lg py-4 navbar-dark bg-dark border-bottom">
    
  <div class="container">
    <a class="navbar-brand" href="#">
         <img src="http://iconbug.com/data/7d/512/21675e53a6e9bfce7dd4012ab70774a0.png" alt="" width="40" height="40" class="d-inline-block align-text-top">Webyy Tech Solution</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>